<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>OUHK COMPS381F Project Assignment 2020</title>
    <link rel="stylesheet" href="/styles.css" />
</head>

<body>
<h1 data-position="header">OUHK - INFO</h1>
<h2>Hello <%=  locals.userName%>, welcome back!</h2><br>
<a href="/logout" class="btn btn-danger">Logout</a>

<section data-position="restaurants">
    <h2>Delete was successful<br>(ID: <%= id %>)</h2>
    <a href="<%= link %>">Back</a>
</section>

<script src="/main.js"></script>
</body>
</html>
